.nav-link {
  color: #ccc !important;
  margin-right: 12px;
}

.nav-link:hover {
  color: #fff !important;
}

.nav-link.active {
  color: #0d6efd !important;
  border-bottom: 2px solid #0d6efd;
}
.nav-link:hover {
  color: #0d6efd !important;
}
.nav-link:hover {
  color: #0d6efd !important;
}


/* Cart CSS */
/* @media (min-width: 1025px) {
.h-custom {
height: 100vh !important;
}
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}

.card-registration .select-arrow {
top: 13px;
} */

.product-image {
            max-height: 400px;
            object-fit: cover;
        }
        .thumbnail {
            width: 80px;
            height: 80px;
            object-fit: cover;
            cursor: pointer;
            opacity: 0.6;
            transition: opacity 0.3s ease;
        }
        .thumbnail:hover, .thumbnail.active {
            opacity: 1;
        }